:root{
    --bg: pink;
    --accent:rgb(255, 89, 158);
}
body{
    margin: 0;
    background: var(--bg);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.progress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: var(--accent);
    z-index: 1000;
    transform-origin: 0% 50%;
    animation: grow linear;
    animation-timeline: scroll();
    box-shadow: 0 0 20px var(--accent);
}
@keyframes grow{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
.hero{
    height: 150vh;
    view-timeline-name: --hero;
}
.container{
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title{
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    animation: zoom-out linear;
    animation-timeline: --hero;
    animation-range: exit-crossing;
}
@keyframes zoom-out{
    to{
        transform: scale(10);
        opacity: 0;
        filter: blur(20px);
    }
}
.cards{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
}
.card{
    width: 60%;
    max-width: 500px;
    aspect-ratio: 16/9;
    font-size: 60px;
    background: #bd548d ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    view-timeline-name: --card;
    animation: fly-in linear;
    animation-timeline: --card;
    animation-range:  entry 0% cover 50%;
    perspective: 1000px;
}
.card:nth-child(even){
    --x: 200px;
    --rotate: -20deg;
}
.card:nth-child(odd){
    --x: -200px;
    --rotate: 20deg;
}
@keyframes fly-in{
    from{
        transform: translateX(var(--x)) rotateY(var(--rotate));
    }
    to{
        opacity: 1;
        transform: translateX(0) rotateY(0) scale(1);
    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(255, 71, 172);
}