body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 254, 254);
}

.menu_up{
    font-family: Arial;
    background: rgba(255, 218, 243, 0.95);
    color: rgb(0, 0, 0);
    height: 70px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu_links:hover {
    box-shadow: 0 rgba(0, 0, 0, 0.7);
}
.logo_photo{
    display: flex;
    align-items: center;
    padding-left: 12%;
}
.menucake{
    height:60px;
    border-radius: 100px;

}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    
}
.menu_links a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    transition: background-color pink 0.5s;
}
.menu_links a:hover{
    background-color: #ff99ee;
    border-radius: 15px;
}
.menu_links a:active {
    background-color: rgba(236, 90, 190, 0.616);
    color: #f78ff5;
}
.number{
    font-size: 25px;
    padding-right: 12%;
    font-weight: bold;
}
.number a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.number a:active{
    color: #ff99ee;
}
.number a:hover{
    color: #bc7cb1;
}
.banner{
    background: url(IMG/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner_text{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    width: 50%;
    color: rgb(0, 0, 0);
}
.banner a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button{
    padding: 13px 25px;
    background-color: rgb(243, 141, 206);
    border-radius: 35px;
    border: 3px solid white;

}
.cupcake_animation{
    position: absolute;
    top: 200px;
    right: 40px;
}
.cupcake1{
    font-size: 100px;
    position: relative;
    right: 100px;
    top: 40px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from { 
        transform: rotate(360deg); 
    }
    to { 
        transform: rotate(0deg); 
    }
}
.cupcake2 {
    font-size: 100px;
    position: relative;
    right: 280px;
    bottom: 80px;
    animation: wraper 2s linear infinite;
}
@keyframes wraper {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}
@keyframes cupcake_animation {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}
a:hover{
    color: rgb(52, 43, 43);
}
.naverh{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    right: 60px;
    border-radius: 80px;
    z-index: 999;
    transition: transform 0.3s ease;
}
.naverh:hover {
    transform: scale(1.2);
}
.our_desserts{
   padding: 60px 0;
}
.container1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.news{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
  
}
.news::after {
    content: '';
    display: block;
    width: 90px;
    height: 4px;
    background: #fc79d9;
    margin: 10px auto;
}
.news_cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    background: rgb(255, 255, 255);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.8);
}
.master_class{
    margin: 5% auto;
    object-fit: cover;
    height: 400px;
    width: 90%;
    border: 7px solid rgb(240, 156, 201);
}
.macaron{
    margin: 5% auto;
    object-fit: cover;
    height: 400px;
    width: 90%;
    border: 7px solid rgb(240, 156, 201);
}
.happy_birthday{
    margin: 5% auto;
    object-fit: cover;
    height: 400px;
    width: 90%;
    border: 7px solid rgb(240, 156, 201);
}
.news_cards h1{
    text-align: center;
    padding: 0 5%;
    font: 20px;

}
.news_cards p{
    text-align: justify;
    padding: 0 5%;
    font: 20px;
    
}
.menu_assortiment{
    background: white;
    height: 100%;
    padding: 5% 10%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.assortmenu{
    height: 70%;
    width: 25%;
    float: left;
    border: 10px solid rgb(175, 175, 152);
    margin-right: 15px;
    object-fit: cover;
     box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.8);
}
.assortiment{
    background: rgb(255, 255, 255);
    padding: 5% 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;

}
.cakes{
    display: inline-block;
}
.for_assortiment{
    text-align: center;
}
.cakes h2:after {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: #fc79d9;
    margin: 10px auto;
}
.picture_menu2{
    display: inline-block;
    object-fit: contain;
    height: 90%;
    width: 70%;
}
.cakes{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 30px;
}

.letter{
    color: rgb(247, 85, 44);
    font-weight: bold;
}
.delivery{
    background: white;
    height: 100%;
    padding: 5% 10%;
    display: flex;
    align-items: center;
}
.text_delivery{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.picture_delivery{
    height: 50%;
    width: 35%;
    object-fit: cover;
    border: 7px solid rgb(246, 151, 227);
    border-radius: 10px;
     box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.8);
}
footer{
    background: rgb(242, 219, 219);
    padding: 30px;
}
.footer_maps_table{
    gap: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    background: #ec91b1;
    border-radius: 10px;
    padding: 15px;
}
.tabel_text{
    font-size: 25px;
    text-align: center;
}
.tabel_text::after {
    content: '';
    display: block;
    width: 90px;
    height: 4px;
    background: #fc79d9;
    margin: 10px auto;
}
.cont_num{
    font-size: 20px;
    line-height: 40px;
}
input, textarea {
    width: 100%;
    border: 1px solid #292828;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
}
.contacts_soc{
    display: flex;
    justify-content: space-between;

}
.maps{
    padding-bottom: 20px;
}
.line2{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(252, 177, 232);
    margin-bottom: 10px;
}